<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script src="js/controller.js"></script>
</head>

<body ng-app="myApp" ng-controller="controller as ctrl">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Ribų skaičiuotuvas</h2>
        </div>
    </md-toolbar>
    <md-card>
        <div layout="row" layout-align="center center" layout-wrap>
            <md-input-container style="width: 600px">
                <label>Reiškinys</label>
                <input ng-model="expression" ng-change="change()">
            </md-input-container>
            <md-input-container ng-if="pointNumber == 2" style="width: 100px">
                <label>Ribos taškas</label>
                <input ng-model="customPoint" ng-change="pointChange();">
            </md-input-container>
        </div>
        <div id='reiskinys'>$${{expression}}$$</div>

        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button flex class="md-raised" ng-repeat='operation in operations' ng-click="addOperation(operation, $event);">
                <md-tooltip md-direction="bottom">{{operation.tooltip}}</md-tooltip>
                {{operation.name}}
            </md-button>
        </div>

        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button flex class="md-raised" ng-repeat='operation in casualOps' ng-click="addOperation(operation, $event);">
                <md-tooltip md-direction="bottom">{{operation.tooltip}}</md-tooltip>
                {{operation.name}}
            </md-button>
        </div>

        <md-divider></md-divider>
        <p style="text-align:center">Ribos taškas</p>
        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button flex ng-class="point.class" ng-repeat='point in points' ng-click="changePoint(point);">
                <md-tooltip md-direction="bottom">{{point.tooltip}}</md-tooltip>
                {{point.name}}
            </md-button>
        </div>
        <md-divider></md-divider>
        <md-button class="md-raised md-primary" ng-click="makeRequest();">SUSKAIČIUOTI</md-button>
    </md-card>
</body>
<footer style="text-align:center">
    ©Arvydas Šilanskas, Irmantas Ivanauskas, VU MIF, 2018
</footer>

</html>