<md-dialog aria-label="Pridėti operaciją">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Pridėti operaciją</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-card>
            <md-input-container>
                <label>Argumentas</label>
                <input ng-model="$scope.argumentOne" ng-change="change()">
            </md-input-container>
        </md-card>
        <md-button class="md-raised" ng-click="cancel()">
            Atšaukti
        </md-button>
        <md-button class="md-raised md-primary" ng-click="addExpr()">
            Pridėti
        </md-button>
    </md-dialog-content>
</md-dialog>