<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></link>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="/matcalc.js"></script>
		<title>Arvydas Šilanskas MatCalc</title>
	</head>
	<body>
		<div class="container">
		<form action="#" th:action="@{/lim}" th:object="${calcDataExchange}" method="post">
			<div class="card">
				<h3 class="card-header">Arvydo Šilansko Ribų skaičiuoklė</h3>
				<div class="card-body">
					<input type="text" required="true" name="requestFunc" class="form-control" id="formulafield" th:field="*{requestFunc}"/>	
					<h4 th:text="${calcDataExchange.result}"></h4>
				</div>
				<div class="card-body">
					<button type="button" class="btn btn-default" onclick="ap('sin()')">Sin(x)</button>
					<button type="button" class="btn btn-default" onclick="ap('cos()')">Cos(x)</button>
					<button type="button" class="btn btn-default" onclick="ap('arctg()')">ArcTg(x)</button>
					<button type="button" class="btn btn-default" onclick="ap('exp()')">Exp(x) = e<sup>x</sup></button>
					<button type="button" class="btn btn-default" onclick="ap('ln1()')">Ln1(x) = ln(1 + x)</button>
					<button type="button" class="btn btn-default" onclick="ap('pol()')">Pol(x, [a, b, c, ...]) = a + b*x + c*x^2 + ...</button>
				</div>
				<div class="card-body">
					<button type="button" class="btn btn-default" onclick="ap('comp( , )')">Composition(x, y) = x(y)</button>
					<button type="button" class="btn btn-default" onclick="ap('add( , )')">Add(x, y) = x + y</button>
					<button type="button" class="btn btn-default" onclick="ap('sub( , )')">Sub(x, y) = x - y</button>
					<button type="button" class="btn btn-default" onclick="ap('mul( , )')">Mul(x, y) = x * y</button>
					<button type="button" class="btn btn-default" onclick="ap('div( , )')">Div(x, y) = x / y</button>
				</div>
				<div class="card-body">
					<h4>Skaičiuoti ribą taške</h4>
					<div class="radio">
						<label><input type="radio" required="true" name="xval" value="plusinf" th:field="*{xval}" />+&infin;</label>
					</div>
					<div class="radio">
						<label><input type="radio" required="true" name="xval" value="minusinf" th:field="*{xval}"/>-&infin;</label>
					</div>
					<div class="radio">
						<label><input type="radio" required="true" name="xval" value="real" th:field="*{xval}"/><input class="form-control" type="textfield" required="true" value="0" name="xvaldouble" th:field="*{xvaldouble}"/></label>
					</div>
				</div>
				<div class="card-body">
					<button type="submit" class="btn btn-primary">Pateikti</button>
				</div>
			</div>
		</form>
		</div>
	</body>
</html>
