header {
	background-color: green;
	text-align: center;
	padding: 10px;
	color: white;
	margin-bottom: 10px;
}

body {
	background-color: lightgray;
}

section {
	white-space: nowrap;
	background-color: white;
	border: black 1px;
	border-radius: 10px;
}

@media screen and (min-width: 480px) {
	section {
		display: flex;
	}

	nav {
		border-right : gray solid 1px;
	}
}

@media screen and (max-width: 480px) {
	nav {
		border-bottom: gray solid 1px;
	}
}

article {
	margin: 20px;
	flex: 3;
	vertical-align: top;
}

nav {
	flex: 1;
	padding : 5px;
}

nav ul.fa-ul li {
	font-size: 1em;
}

.selected {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.2em !important;
}

.fa-folder {
	color: orange;
}

.fa-file {
	color: blue;
}

.selected > .fa {
	color:green;
}

footer {
	font-size: 60%;
	color: gray;
	text-align: center;
}

table tr {
	border: solid 1px green;
}

th, td {
	border: inherit;
}

th[rowspan="2"][colspan="2"] {
	border: none;
}

#vu-logo {
	height: 60px;
}
