html {
	height: 100%;
}

body {
	display: flex;
	height: 90%;
}

body > * {
	flex: 1;
	position: relative;
}

label {
	display: flex;
}

textarea {
	flex: 1;
}

input[type="textfield"],
input[type="password"],
input[type="date"]
{
	flex: 1;
}

table , td {
	border: black 1px solid;
}

table {
	width: 100%;
}

form  {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.matching-item {
	background-color: green;
}

.actions {
	width: 20%;
}
